body{
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#welcomeh3{
    text-align: center;
}
#drumroll{
    text-align: center;

}
#numguess{
    text-align: center;
}
#usernum{
    text-align: center;
}
#user{
    text-align: center;
}
.submit{
    font-size: 1em;
    background-color: rgb(5, 214, 237);
    cursor: pointer;
    width: 15em;
    height: 4em;
    border-radius: 10px;
    transition: background-color 0.25s;
}
.submit:hover{
    background-color: rgb(0, 166, 255);
}
